
/*Global color*/
$global-red: #E72327;
$global-text-gray: #303030;
$global-background: #f8f8f8;

/*Global class*/
section {
  display: block;
}

#mediaCarousel {
  video {
    object-fit: fill;
    width: 100%;
    height: auto;
    max-width: 550px;
    margin: 0 auto;
    display: block;
  }
}
h1.title, h3.title, h4.subTitle, h6.sm_title, span.subTitle, ul.descriptions li, p.descriptions, p.contact, tr, td {
  letter-spacing: 1px;
  color: $global-text-gray;
  a{
    color: $global-text-gray;
  }
}

h1.title {
  font: 300 clamp(3rem, 5vw ,3.8rem)/4.8rem 'Roboto', sans-serif;
  @media (max-width: 1098.98px) {
    font: 300 2.5rem/2.8rem 'Roboto', sans-serif;
  }
  @media (max-width: 575.98px) {
    font: 300 2rem/2.3rem 'Roboto', sans-serif;
  }
  @media (max-width: 379.98px) {
    font: 300 1.8rem/2.3rem 'Roboto', sans-serif;
  }
  @media (max-width: 325.98px) {
    font: 300 1.5rem/2rem 'Roboto', sans-serif;
  }
}

h3.title {
  font: 300 clamp(2.8rem, 5vw ,3.5rem)/4.5rem 'Roboto', sans-serif;
  @media(max-width: 1098.98px) {
    font: 300 2.8rem/3rem 'Roboto', sans-serif;
  }
  @media (max-width: 767.98px) {
    font: 300 2.5rem/2.8rem 'Roboto', sans-serif;
  }
  @media (max-width: 575.98px) {
    font: 300 2rem/2.3rem 'Roboto', sans-serif;
    text-align: center;
  }
  @media (max-width: 379.98px) {
    font: 300 1.8rem/2.3rem 'Roboto', sans-serif;
  }
  @media (max-width: 325.98px) {
    font: 300 1.5rem/2rem 'Roboto', sans-serif;
  }
}

h4.subTitle, span.subTitle {
  font: 300 2.4rem/2.4rem 'Roboto', sans-serif;
  @media (max-width: 1670.98px) {
    font: 300 2.5rem/1.875rem 'Roboto', sans-serif;
    margin-top: 40px;
  }
  @media(max-width: 1099.98px) {
    font: 300 1.875rem/1.875rem 'Roboto', sans-serif;
  }
  @media (max-width: 991.98px) {
    text-align: center;
  }
  @media (max-width: 575.98px) {
    font: 300 1.2rem/1.5rem 'Roboto', sans-serif;
  }
  @media (max-width: 325.98px) {
    font: 300 1rem/1.5rem 'Roboto', sans-serif;
  }
}

a.linkToContent:hover h4 {
  color: $global-red;
  transition: color .5s;
}

h4.subTitle a.linkToContent:hover {
  color: $global-red;
  transition: color 0.5s;
}

h6.sm_title {
  font: 500 1.25rem/1.5rem 'Roboto', sans-serif;
}

a.btn-lg {
  margin-bottom: 15px !important;
  min-width: 200px;
  @media (max-width: 767.98px) {
    font-size: 16px;
  }
}

ul.descriptions li, p.descriptions {
  font: 300 clamp(1.3rem, 2vh, 1.5rem)/1.875rem 'Roboto', sans-serif;

  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    font: 300 1.3rem/1.6rem 'Roboto', sans-serif;
  }

  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    font: 300 1.3rem/1.6rem 'Roboto', sans-serif;
  }
  @media (max-width: 991.98px) {
    font: 300 clamp(.95rem, 2vw, 1rem)/clamp(1.3rem, 10vh, 1.4rem) 'Roboto', sans-serif;
  }
}

tr, td, th, capiton{
  font: 300 clamp(.85rem, 1vw, 1rem)/clamp(1.3rem, 1vw, 1.4rem) 'Roboto', sans-serif;
}
th{
  font-weight: 500;
}

p.descriptions {
  span {
    font-weight: 500;
  }
}

ul.descriptions {
  list-style: none;
  @media (max-width: 575.98px) {
    padding-left: 15px;
  }

  li {
    &:before {
      content: "\2022";
      color: $global-red;
      font-weight: 200;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
      @media (max-width: 575.98px) {
        font-weight: 900;
      }
    }
  }
}

p.contact {
  font: 500 1rem/1.5rem 'Roboto', sans-serif;
  @media (max-width: 575.98px) {
    font: 300 1rem/1.3rem 'Roboto', sans-serif;
  }
}

button[type='submit'] {
  border-radius: 0;
  width: 265px;
  height: 56px;
  margin: 5px auto 30px;
  display: block;
  text-transform: uppercase;
  background-color: $global-red;
  font: 300 16px/19px 'Roboto', sans-serif;
  letter-spacing: 0;
  color: #FFFFFF;
  @media (max-width: 379.98px) {
    width: 235px;
    height: 46px;
  }
}

/*End global class*/

#navigation {
  background-color: rgba(255, 255, 255, 0.99);
  box-shadow: 0 0 3px 0 #ebebeb;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out,
  -webkit-transform 500ms ease-in-out;
  transform: translateZ(0) translateY(0);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 199;
  position: fixed;
  @media(max-width: 991.98px) {
    .container {
      padding: 0;
    }
  }

  &.fold-active {
    -ms-transform: translateZ(0) translateY(-114px);
    transform: translateZ(0) translateY(-114px);
  }

  #lang {
    @media(max-width: 576.98px) {
      margin-right: 15px;
    }
    border-radius: 3px;
    padding: 2px 0;
    color: black;
  }

  .logo-wrapper {
    img {
      display: inherit;

      &.small-logo {
        display: none;
      }

      @media (max-width: 429.98px) {
        display: none;
        &.small-logo {
          display: inherit;
        }
      }
    }
  }

  .active {
    color: $global-red;
  }

  select {
    width: 50px;
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3),
    only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      width: 59px;
    }
  }

  #navbar-main {
    padding: 0 1rem;
    @media(min-width: 576px) {
      padding: 0;
    }

    .navbar-container {
      width: 100%;
      @media(max-width: 991.98px) {
        width: auto;
      }

      .navbar-collapse {
        a {
          text-decoration: none;
          letter-spacing: 0;
          color: #707070;
          font: 300 clamp( .95rem, 1.4vw, 1.125rem)/22px 'Roboto', sans-serif;
          @media(max-width: 991.98px) {
            text-align: right;
            font: 300 clamp( 1rem, 2vw, 1.125rem)/22px 'Roboto', sans-serif;
          }

          &.btn.btn-dark.text-white {
            margin-left: .5rem;
            border-radius: 20px;
            padding: 10px 20px;
            @media(max-width: 991.98px) {
              margin-left: 0;
            }
          }
        }
      }

      .logo-symbol {
        width: auto;
        max-height: 3.35714rem;
      }

      .name-symbol, .subname-symbol {
        margin-top: 0.92857rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  .navbar-toggler {
    padding: 0;
    font-size: 1.25rem;
    line-height: 1;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid $global-text-gray;
    border-radius: .25rem;
  }

  #nav-icon {
    margin: 0.5em 0.8em;
    width: 25px;
  }

  #nav-icon:after,
  #nav-icon:before,
  #nav-icon div {
    background-color: $global-text-gray;
    content: '';
    display: block;
    height: 3px;
    margin: 9px 0;
    transition: all .2s ease-in-out;
  }

  .active {
    &:before {
      transform: translateY(12px) rotate(135deg);
    }
    &:after {
      transform: translateY(-12px) rotate(-135deg);
    }
    div {
      transform: scale(0);
    }
  }
}


#main {
  margin-top: 82px;

  #opis, #aplikacja, #video, #kontakt, #produkty {
    scroll-padding-top: 100px;
  }
  #aplikacja, #opis, #kontakt, #produkty, #booklet{
    padding: 160px 0;
    @media (max-width: 1599.98px) {
      padding: 100px 0;
    }
    @media (max-width: 991.98px) {
      padding: 80px 0;
    }
    @media (max-width: 767.98px) {
      padding: 60px 0;
    }
    @media (max-width: 575.98px) {
      padding: 40px 0;
    }
  }

  #heating-element, #head-element, #radiator-element {
    margin-bottom: 8rem;
    @media (max-width: 991.98px) {
      margin-bottom: 5rem;
    }
    @media (max-width: 767.98px) {
      margin-bottom: 4rem;
    }
    @media (max-width: 575.98px) {
      margin-bottom: 3rem;
    }
  }


  /*banner strip*/
  .banner-strip {
    padding: 200px 10%;
    height: 100%;
    @media (max-width: 1599.98px) {
      padding: 150px 5%;
    }
    @media (max-width: 991.98px) {
      padding: 100px 15px;
    }
    @media (max-width: 767.98px) {
      padding: 60px 15px;
    }
    @media (max-width: 575.98px) {
      padding: 40px 15px;
    }

    .dg-wrapper {
      margin-left: auto;
      margin-right: auto;
      width: 550px;
      height: 550px;
      position: relative;

      @media (max-width: 1599.98px) {
        max-width: 450px;
        max-height: 450px;
      }
      @media (max-width: 576.98px) {
        max-width: 300px;
        max-height: 300px;
      }
      @media (max-width: 379.98px) {
        max-width: 270px;
        max-height: 270px;
      }

      .carousel-fade .carousel-item {
        opacity: 0;
        transition: opacity ease-out .7s

      }

      .carousel-fade .carousel-item.active,
      .carousel-fade .carousel-item-next.carousel-item-left,
      .carousel-fade .carousel-item-prev.carousel-item-right {
        opacity: 1;
      }

      .carousel-fade .active.carousel-item-left,
      .carousel-fade .active.carousel-item-right {
        opacity: 0;
      }

      .carousel-fade .carousel-item-next,
      .carousel-fade .carousel-item-prev,
      .carousel-fade .carousel-item.active,
      .carousel-fade .active.carousel-item-left,
      .carousel-fade .active.carousel-item-prev {
        transform: translateX(0);
        transform: translate3d(0, 0, 0);
      }


      video {
        -webkit-backface-visibility: hidden;
        object-fit: fill;
        width: 100%;
        height: auto;
        max-width: 550px;
        margin: 0 auto;
        display: block;
        @media (max-width: 1599.98px) {
          max-width: 450px;
          max-height: 450px;
        }
        @media (max-width: 576.98px) {
          max-width: 300px;
          max-height: 300px;
        }
        @media (max-width: 379.98px) {
          max-width: 270px;
          max-height: 270px;
        }
      }
    }

    .dg-container {
      position: relative;
      width: 100%;
      height: 100%;

      .button {
        top: 0;
        position: relative !important;
        margin: 0;
        @media (max-width: 991.98px) {
          padding: 70px 0;
        }
        @media (max-width: 767.98px) {
          padding: 50px 0;
        }
        @media (max-width: 575.98px) {
          padding: 5px 0;
        }
        @media (max-width: 379.98px) {
          height: 50px;
        }

        &:nth-child(1) li {
          height: 58px;
          width: 52px;
          @media (max-width: 575.98px) {
            height: 50px;
            width: 40px;
          }
        }

        &:nth-child(2) li {
          height: 58px;
          width: 61px;
          @media (max-width: 575.98px) {
            height: 50px;
            width: 51px;
          }
          @media (max-width: 379.98px) {

          }
        }

        &:nth-child(3) li {
          height: 58px;
          width: 54px;
          @media (max-width: 575.98px) {
            height: 50px;
            width: 44px;
          }
          @media (max-width: 379.98px) {

          }
        }

        &:nth-child(4) li {
          height: 58px;
          width: 70px;
          @media (max-width: 575.98px) {
            height: 50px;
            width: 60px;
          }
          @media (max-width: 379.98px) {

          }
        }

        &:nth-child(5) li {
          height: 42px;
          width: 68px;
          @media (max-width: 575.98px) {
            height: 50px;
            width: 58px;
          }
          @media (max-width: 379.98px) {

          }
        }

        li {
          cursor: pointer;
          display: inline-block;
          margin-right: 15px;
          width: 50px;
          height: 50px;
          text-indent: 0;
          opacity: 1 !important;
          @media (max-width: 991.98px) {
            transform: scale(.9);
            margin-right: 10px;
          }
          @media (max-width: 767.98px) {
            transform: scale(.8);
            margin-right: 5px;
          }
          @media (max-width: 575.98px) {
            transform: scale(.7);
          }
          @media (max-width: 379.98px) {
            transform: scale(.6);

          }
        }
      }

      li.active {
        transform: scale(1.1);

        svg path, svg line.a, svg line.b, svg path.b {
          stroke-dasharray: 800;
          stroke-dashoffset: 1000;
          animation-name: icon-animation;
          animation-duration: 4s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite;
        }

        @keyframes icon-animation {
          0% {
            stroke-dashoffset: 1000;
            opacity: 1;

          }
          50% {
            stroke-dashoffset: 500;
            stroke: #e72327;
            opacity: 0.9;
          }

          100% {
            stroke: #e72327;
            stroke-dashoffset: 0;
            opacity: 1;
          }
        }
      }
    }
  }

  /*end banner strip*/

  .room-strip {
    .row {
      position: relative;
      z-index: 10;

      .hand_box {
        display: none;
        width: 95px;
        height: 59px;
        position: absolute;
        z-index: 15;
        top: 92%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        @media(max-width: 991.98px) {
          display: inherit;
        }

        img {
          position: absolute;
          top: 5px;
          left: 0;
          -moz-animation: hand .8s;
          -o-animation: hand 3s;
          -webkit-animation: hand 3s;
          animation: hand 3s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }

      @keyframes hand {
        0%, 50%, 100% {
          left: 0;
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        25% {
          left: -10px;
          -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
        }
        75% {
          left: 10px;
          -ms-transform: rotate(5deg);
          transform: rotate(5deg);
        }
      }

      .img-room {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        height: auto;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0;
        position: relative;
        z-index: 750;

        #small {
          display: none;
        }

        #large {
          display: inherit;
        }

        @media(max-width: 991.98px) {
          #small {
            display: inherit;
          }
          #large, .wrapper-heating, .wrapper-head, .wrapper-sensor, .wrapper-radiator, .wrapper-window-sensor {
            display: none;
          }
        }

        .wrapper-window-sensor {
          .round {
            -webkit-animation-delay: 1s;
            -moz-animation-delay: 1s;
            -o-animation-delay: 1s;
            animation-delay: 1s;
          }
        }

        .wrapper-heating {
          .round {
            -webkit-animation-delay: 2s;
            -moz-animation-delay: 2s;
            -o-animation-delay: 2s;
            animation-delay: 2s;
          }
        }

        .wrapper-sensor {
          .round {
            -webkit-animation-delay: 3s;
            -moz-animation-delay: 3s;
            -o-animation-delay: 3s;
            animation-delay: 3s;
          }
        }

        .wrapper-heating {
          .round {
            -webkit-animation-delay: 4s;
            -moz-animation-delay: 4s;
            -o-animation-delay: 4s;
            animation-delay: 4s;
          }
        }

        .round {
          width: 63px;
          height: 63px;
          border: 3.5px solid #fff;
          border-radius: 50%;
          animation: pulse 2s infinite;
          @media(max-width: 1199.98px) {
            width: 53px;
            height: 53px;
          }
        }

        span {
          z-index: 800;
          position: absolute;
          color: #fff;
          font: 600 1.25rem/1.5rem Lato, sans-serif;
          text-shadow: 0 2px 4px grey;
          text-transform: uppercase;
          top: -55px;
          left: 40px;
          @media(max-width: 1199.98px) {
            font: 600 1rem/1.5rem Lato, sans-serif;
            text-shadow: 0 4px 6px grey;
          }
        }

        .wrapper-heating, .wrapper-head, .wrapper-sensor, .wrapper-radiator, .wrapper-window-sensor {
          position: absolute;
          z-index: 800;
        }

        .wrapper-heating {
          top: calc(82% - 40px);
          left: calc(29% - 20px);
          @media(max-width: 1199.98px) {
            top: calc(83% - 40px);
          }
        }

        .wrapper-head {
          top: calc(74% - 46px);
          left: calc(77% - 18px);
          @media(max-width: 1399.98px) {
            top: calc(74% - 44px);
            left: calc(77% - 21px);
          }
          @media(max-width: 1199.98px) {
            top: calc(76% - 46px);
          }
        }

        .wrapper-sensor {
          top: calc(63% - 45px);
          left: calc(58% - 25px);
          @media(max-width: 1399.98px) {
            top: calc(63% - 42px);
            left: calc(58% - 26px);
          }
          @media(max-width: 1199.98px) {
            top: calc(64% - 40px);
          }
        }

        .wrapper-radiator {
          top: calc(67% - 41px);
          left: calc(5% - 22px);
          @media(max-width: 1399.98px) {
            left: calc(5% - 25px);
          }
          @media(max-width: 1199.98px) {
            top: calc(69% - 43px);
          }

          .round {
            span {
              top: 46px;
              left: 67px;
              @media(max-width: 1199.98px) {
                top: 36px;
                left: 60px;
              }
            }
          }
        }

        .wrapper-window-sensor {
          top: calc(24% - 41px);
          left: calc(16% - 22px);
          @media(max-width: 1199.98px) {
            top: calc(26% - 41px);
          }

          .round {
            span {
              text-align: right;
              width: 175px;
              left: -160px;
              @media(max-width: 1199.98px) {
                width: 150px;
                left: -140px;
              }
            }
          }
        }

        @-webkit-keyframes pulse {
          0% {
            -webkit-box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 1);
          }
          70% {
            -webkit-box-shadow: inset 0 0 0 7px rgba(255, 255, 255, .3);
          }
          100% {
            -webkit-box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
          }
        }
        @keyframes pulse {
          0% {
            -moz-box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 1);
            box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 1);
          }
          70% {
            -moz-box-shadow: inset 0 0 0 7px rgba(255, 255, 255, .3);
            box-shadow: inset 0 0 0 7px rgba(255, 255, 255, .3);
          }
          100% {
            -moz-box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
          }
        }

        img {
          margin: 0 auto;
          max-width: 1920px;
          display: block;
          width: 100%;
          height: auto;
          position: relative;
          z-index: 750;
          @media(max-width: 991.98px) {
            width: 1388px;
            height: 666px;
          }
        }
      }
    }
  }


  .smart {
    max-width: 740px;
    margin:0 auto;
    h3.title {
      text-align: center;
    }
    @media (max-width: 991.98px) {
      padding: 180px 50px 80px;
    }
    @media (max-width: 767.98px) {
      padding: 180px 30px 80px;
    }
    @media (max-width: 575.98px) {
      padding: 180px 18px 80px;
    }

    #carouselExampleIndicators {
      h4 {
        height: 77px;
        @media (max-width: 575.98px) {
          height: 60px;
        }

        img {
          @media (max-width: 575.98px) {
            max-height: 40px;
          }
        }
      }
    }

    .carousel-indicators {
      position: relative;
      margin: 40px 0;
      @media (max-width: 767.98px) {
        margin: 40px 0;
      }
      @media (max-width: 575.98px) {
        margin: 15px 0;
      }

      li {
        box-sizing: content-box;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 155px;
        height: 3px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 0 15px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #DEDEDE;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;

        &:nth-child(1) {
          margin-left: 0;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }

      .active {
        background-color: $global-red;
      }
    }
  }

  .over {
    overflow: hidden;
    position: relative;

    img.sm_appImgFirst, img.sm_appImgSecond {
      opacity: 0;
      position: absolute;
      width: 460px;
      height: auto;
      /* ----------- Non-Retina Screens ----------- */
      @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
        width: 390px
      }

      /* ----------- Retina Screens ----------- */
      @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
        width: 390px
      }
      @media(max-width: 991.98px) {
        width: 350px;
      }
      @media(max-width: 575.98px) {
        width: 250px;
      }
    }


    img.sm_appImgFirst {
      left: -4%;
      top: 0;
      /* ----------- Non-Retina Screens ----------- */
      @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
        left: 0;
      }

      /* ----------- Retina Screens ----------- */
      @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
        left: 0;
      }
      @media(max-width: 1199.98px) {
        left: -13%;
      }
      @media(max-width: 991.98px) {
        left: 22%;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        left: calc(30.5% - 100px);
      }
      @media(max-width: 575.98px) {
        top: 15px;
        left: calc(41% - 100px);
      }
      @media(max-width: 480.98px) {
        left: calc(37% - 100px);
      }
    }

    img.sm_appImgSecond {
      left: 12%;
      top: 135px;
      /* ----------- Non-Retina Screens ----------- */
      @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
        left: 14%;
        top: 125px;
      }

      /* ----------- Retina Screens ----------- */
      @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
        left: 14%;
        top: 125px;
      }
      @media(max-width: 1199.98px) {
        left: 3%;
      }
      @media(max-width: 991.98px) {
        top: 110px;
        left: 30%;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        left: calc(42% - 100px);
      }
      @media(max-width: 575.98px) {
        top: 95px;
        left: calc(50% - 100px);
      }
      @media(max-width: 480.98px) {
        left: calc(48% - 100px);
      }
    }

    .animate.right {
      -webkit-animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
      animation-duration: 1s;
      animation-fill-mode: both;
    }


    img.sm_appImgFirst.animate.right {
      -webkit-animation-delay: 1.5s;
      -moz-animation-delay: 1.5s;
      animation-delay: 1.5s;
    }

    img.sm_appImgSecond.animate.right {
      -webkit-animation-delay: .5s;
      -moz-animation-delay: .5s;
      animation-delay: .5s;
    }

    @keyframes fadeInRight {
      from {
        opacity: 0;
        transform: translate(-100%);
      }

      to {
        opacity: 1;
        transform: none;
      }
    }


    .houseSmart {
      .app_img_box {
        height: auto;
        position: relative;
        z-index: 10;
        margin: 0 auto;

        .carousel-item {
          img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
          }
        }

        @media (max-width: 991.98px) {
          max-width: 550px;
        }
        @media (max-width: 767.98px) {
          max-width: 450px;
        }
        @media (max-width: 575.98px) {
          max-width: 400px;
        }
        @media (max-width: 445.98px) {
          max-width: 300px;
        }
        @media (max-width: 360.98px) {
          max-width: 250px;
        }

        #carouselExampleIndicators2.carousel-fade {
          .carousel-item.active {
            transition: opacity .1s ease-in-out;
          }

          ol.carousel-indicators {
            position: relative;
            padding: 40px 0;
            @media (max-width: 767.98px) {
              padding: 20px 0;
            }

            li {
              box-sizing: content-box;
              -ms-flex: 0 1 auto;
              flex: 0 1 auto;
              width: 155px;
              height: 3px;
              margin-right: 10px;
              margin-left: 10px;
              padding: 0 15px;
              text-indent: -999px;
              cursor: pointer;
              background-color: #DEDEDE;
              background-clip: padding-box;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              opacity: .5;

              &:nth-child(1) {
                margin-left: 0;
              }

              &:nth-last-child(1) {
                margin-right: 0;
              }
            }

            .active {
              background-color: $global-red;
            }
          }
        }
      }
    }
  }

  section:not([class]) {
    padding: 100px 0 0;
    margin-top: -100px;
    & > div{
      background: $global-background;
      div.video-wrapper {
        .embed-responsive {
          max-width: 1920px;
          margin: 0 auto;
        }
      }
    }
  }


  .app-strip {


    .appImgSecond {
      bottom: 200px;
      right: 0;
      @media(max-width: 1680px) {
        bottom: 200px;
      }
      @media(max-width: 1540px) {
        bottom: 590px;
      }
      @media(max-width: 1350px) {
        bottom: 490px;
      }
    }

    .appFirst {
      top: -22px;
      left: 33%;
    }

    .appSecond {
      bottom: 210px;
      right: 1%;
      @media(max-width: 1680px) {
        bottom: 210px;
        right: -2%;
      }
      @media(max-width: 1540px) {
        bottom: -95px;
      }
      @media(max-width: 1350px) {
        bottom: -65px;
      }
    }

    .app_descriptions {
      max-width: 741px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  section.products-strip {
     background: $global-background;;

    svg .a, svg .b {
      stroke: #e72327;
    }


    .products_title_box {
      padding-bottom: 80px;
      @media(max-width: 1199.98px) {
        padding-bottom: 60px;
      }
      @media (max-width: 767.98px) {
        padding-bottom: 40px;
      }
    }

    h3 {
      max-width: 741px;
      margin-left: auto;
      margin-right: auto;
    }

    h4 {
      margin-bottom: 30px;
    }

    div.download_wrapper {
      margin-top: 30px;
      max-width: max-content;

      a.download {
        text-decoration: none;
        display: flex;
        align-items: center;

        svg {
          fill: $global-text-gray;
          transition: all .5s;
        }

        span {
          color: $global-text-gray;
          font: 500 clamp(1.125rem, 2vw, 1.25rem)/20px Lato, sans-serif;
          padding-left: 5px;
          transition: all .5s;
        }

        &:hover {
          svg {
            fill: #E6242F;
            transition: all .7s;
          }

          span {
            color: #E6242F;
            transition: all .7s;
          }
        }
      }

      a[type='button'].btn {
        display: none;
        color: #fff;
        background-color: #E6242F;
        border-radius: 0;
        border-color: #E6242F;
        width: max-content;
        transition: all .5s;

        &:hover {
          color: #E6242F;
          background-color: transparent;
          transition: all .7s;
        }
      }

      @media (max-width: 974.98px) {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: 310px) {
        a.download {
          span {
            font: 500 16px/20px Lato, sans-serif;
          }
        }
      }
    }



    @media(max-width: 767.98px) {
      div.dubl {
        flex-direction: column;

        div.download_wrapper:nth-last-child(1) {
          margin-top: 15px;
        }
      }

    }

    button {
      letter-spacing: .8px;
      text-transform: uppercase;
    }

    .img_products_box {
      max-width: 372px;
      max-height: 372px;
      width: 100%;
      height: auto;
      border-radius: 50%;
      box-shadow: -4px -4px 0px #e72327;
      margin-left: auto;

      margin-right: auto;
      @media(max-width: 991.98px) {
        max-width: 300px;
        max-height: 300px;
      }
    }
  }

  .contact-strip {
    .form__error {
      color: $global-red;
      text-align: left;
      font-size: 12px;
      margin-top: 3px;
      display: none;
    }

    input:valid:not(:placeholder-shown) {
      border-color: green;
    }

    input:invalid:not(:placeholder-shown) {
      border-color: $global-red;
    }


    input:invalid:not(:placeholder-shown) + .form__error {
      display: block;
    }
  }
}

div.files_wrapper{
  .table-responsive {
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
   }
  a.download{
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    display: block;
    @media (max-width: 567.98px) {
      max-width: 400px
    }
    span.text-dark{
      font: 500 clamp(1.125rem, 2vw, 1.25rem) / 20px Lato, sans-serif;
    }
  
  }
}


.ru {
  #main {
    .room-strip {
      .row {
        .img-room {
          .wrapper-heating {
            span {
              top: -33px;
            }
          }

          .wrapper-radiator {
            span {
              top: 55px;
              left: 60px;
              @media(max-width: 1199.98px) {
                top: 35px;
                left: 60px;
              }
            }
          }
        }
      }
    }
  }

  .smart {
    #carouselExampleIndicators {
      height: 550px;
      @media (max-width: 991.98px) {
        height: 450px;
      }
      @media (max-width: 575.98px) {
        height: 400px;
      }
      @media (max-width: 475.98px) {
        height: 450px;
      }
      @media (max-width: 395.98px) {
        height: 500px;
      }
      @media (max-width: 349.98px) {
        height: 580px;
      }
    }
  }
}

.pl, .en, .it {
  .smart {
    #carouselExampleIndicators {
      padding: 0 15px;
    }
  }
}

.en, .de, .pl, .fr, .it, .cs, .sk {
  .sensor_button {
    a.btn-lg:nth-child(1) {
      margin-top: 30px !important;
      @media (max-width: 991.98px) {
        margin-top: 0 !important;
      }
    }
  }
}


.en, .de, .fr, .it, .cs, .sk {
  #main {
    .room-strip {
      .row {
        .img-room {
          .wrapper-heating {
            span {
              width: 185px;
            }
          }
        }
      }
    }
  }
}

.en, .ru, .de, .fr, .it, .cs, .sk {
  div.files_wrapper {
    a.cennik, .table-responsive.cennik, .subTitle.cennik, capiton.cennik {
      display: none
    }
  }
  footer{
    a:nth-child(3), a:nth-child(4), a:nth-last-child(1){
      display: none
    }
  }
}

.de, .fr {
  .smart {
    #carouselExampleIndicators {
      height: 500px;
      @media (max-width: 991.98px) {
        height: 420px;
      }
      @media (max-width: 575.98px) {
        height: 360px;
      }
      @media (max-width: 475.98px) {
        height: 400px;
      }
      @media (max-width: 395.98px) {
        height: 440px;
      }
      @media (max-width: 349.98px) {
        height: 480px;
      }
    }
  }
}

.it {
  #main {
    .room-strip {
      .row {
        .img-room {
          .wrapper-radiator {
            .round {
              span {
                top: 35px
              }
            }
          }

          .wrapper-window-sensor {
            .round {
              span {
                width: 225px;
              }
            }
          }

          .wrapper-sensor {
            .round {
              span {
                top: -32px;
              }
            }
          }
        }
      }
    }
  }
}

.fr {
  #main {
    .room-strip {
      .row {
        .img-room {
          .wrapper-window-sensor {
            .round {
              span {
                width: 235px;
              }
            }
          }
        }
      }
    }
  }
}

.de {
  #main {
    .room-strip {
      .row {
        .img-room {
          .wrapper-heating, .wrapper-head, .wrapper-sensor {
            .round {
              span {
                top: -33px;
              }
            }
          }

          .wrapper-radiator {
            .round {
              span {
                top: 55px;
                left: 65px;
                @media(max-width: 1199.98px) {
                  top: 52px;
                  left: 51px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.cs, .sk {
  #main {
    .room-strip {
      .row {
        .img-room {
          .wrapper-window-sensor {
            .round {
              span {
                top: -57px;
                width: 205px;
              }
            }
          }

          .wrapper-radiator {
            .round {
              span {
                @media(max-width: 1399.98px) {
                  top: 50px;
                  left: 66px;
                }
              }
            }
          }
        }
      }
    }
  }

  .smart {
    #carouselExampleIndicators {

      height: 470px;
      @media (max-width: 991.98px) {
        height: 350px;
      }
      @media (max-width: 575.98px) {
        height: 320px;
      }
      @media (max-width: 475.98px) {
        height: 320px;
      }
      @media (max-width: 395.98px) {
        height: 350px;
      }
      @media (max-width: 349.98px) {
        height: 380px;
      }
    }
  }
}

footer {
  section.security-links, section.outside-links{
    a {
      color: #f2f2f2;
      text-decoration: none;
      text-align: center;
      font: 500 1rem/1.5rem 'Roboto', sans-serif;
    }
  }
  section.security-links{
    background-color: #dc604d;
    text-align: center;
    a{
      max-width: 48%;
      width: 100%;
      margin: 0 10px;
      &:hover, &:active{
        color: $global-red;
      }
      &.psti-link{
        display: none;
      }
      @media(max-width: 991.98px) {
        max-width: 100%;
      }
    }
  }
  section.outside-links{
    background-color: $global-red;

    .navbar {
      width: 100%;

      a {
        display: block;
        padding: 10px 8px;
        &:hover {
          color: rgb(247, 219, 212);
          transition: all 0.3s ease-in-out;
        }

        .active {
          color: rgb(247, 219, 212);
          transition: all 0.3s ease-in-out;
        }
      }

      &:nth-child(1) {
        padding: 10px 8px 10px 0;
      }
    }
  }
}

.en{
  footer{
    section.security-links, section.security-links a:nth-last-child(1){
      display: block;
      &.psti-link{
        display: block;
      }
    }
    section.security-links a:nth-last-child(1){
      //width: fit-content;
      margin: auto;
    }
  }
}

button#back-to-top {
  display: none;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 0 3px 0 slategrey;
  -moz-box-shadow: 0 0 3px 0 slategray;
  box-shadow: 0 0 3px 0 slategrey;
  background-color: #dc604d;
  color: white;
  font-size: 30px;
  font-weight: 900;
  width: 55px;
  height: 55px;
  position: fixed;
  bottom: 30px;
  right: 2.5%;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  @media(max-width: 567.98px) {
    font-size: 20px;
    width: 50px;
    height: 50px;
  }

}