/*Global color*/
/*Global class*/
h3.title {
  font: 300 4rem/4.8rem Lato;
  letter-spacing: 0;
  color: #303030;
  opacity: 1;
  line-height: 1; }

h4.subTitle {
  font: 300 3rem/1.875rem Lato;
  letter-spacing: 0;
  color: #303030; }

h6.sm_title {
  font: 500 1.25rem/1.5rem Lato;
  letter-spacing: 0;
  color: #3D3C3C; }

p.descriptions {
  font: 300 1.5rem/1.875rem Lato;
  letter-spacing: 0;
  color: #303030; }

p.contact {
  font: 500 1rem/1.5rem Lato;
  letter-spacing: 0;
  color: #303030; }

/*End global class*/
#navigation {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 3s;
  width: 100%;
  top: 0;
  z-index: 100;
  position: fixed;
  left: 0; }
  #navigation .active {
    color: #E72327; }

.scroll-nav {
  background-color: white !important;
  transition: 3s; }

#site_name {
  padding-left: 32px;
  max-width: 276px;
  height: auto; }

#site_name img {
  width: 100%; }

.navbar-collapse a {
  font: 300 1.125rem/22px Lato;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #707070; }

.logo-symbol {
  width: auto;
  max-height: 3.35714rem; }

.name-symbol, .subname-symbol {
  margin-top: 0.92857rem;
  margin-bottom: 0.5rem; }

.logo-wrapper img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out; }

.name-symbol, .subname-symbol {
  margin-top: 0.92857rem;
  margin-bottom: 0.5rem; }

nav.f-nav .navbar-brand .logo-wrapper .img {
  display: inherit !important;
  transition: 3s; }

nav.f-nav .navbar-brand .logo-wrapper .logo-symbol {
  max-height: 2.5rem;
  display: inline-block;
  transition: .5s; }

nav.f-nav .navbar-brand .logo-wrapper .name-symbol {
  display: inline-block;
  margin: auto 15px;
  transition: 3s; }

nav.f-nav .navbar-brand .logo-wrapper .subname-symbol {
  display: none !important; }

#opis, #aplikacja, #video, #kontakt, #produkty {
  margin-top: -100px; }

#navigation .navbar-toggler {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1;
  background-color: white;
  border: 1px solid white;
  border-radius: .25rem; }

#nav-icon {
  margin: 0.5em 0.9em;
  width: 25px; }

#nav-icon:after,
#nav-icon:before,
#nav-icon div {
  background-color: #9f9d9e;
  content: '';
  display: block;
  height: 3px;
  margin: 9px 0;
  transition: all .2s ease-in-out; }

.active:before {
  transform: translateY(12px) rotate(135deg); }

.active:after {
  transform: translateY(-12px) rotate(-135deg); }

.active div {
  transform: scale(0); }

/*main*/
#main {
  margin-top: 180px; }

/*banner strip*/
.banner {
  position: relative;
  margin: 0 auto;
  text-align: center; }

.dg-container {
  position: relative;
  width: 100%;
  height: 600px; }

.dg-wrapper {
  width: 320px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px; }
  .dg-wrapper a {
    width: 100%;
    height: 250px;
    display: block;
    position: absolute;
    left: 0;
    top: 0; }
    .dg-wrapper a img {
      display: block;
      border-radius: 4px;
      width: 100%;
      height: auto;
      background: #fff; }
    .dg-wrapper a:first-child {
      z-index: 2; }
  .dg-wrapper a.dg-transition {
    transition: all 0.5s ease-in-out; }
  .dg-wrapper a.dg-transition-fast {
    transition: all 0.2s ease-in-out; }

.dg-container #lightButton2 {
  bottom: 20px; }
.dg-container .button {
  position: relative;
  z-index: 5; }
  .dg-container .button li {
    cursor: pointer;
    display: inline-block;
    margin-right: 15px; }
    .dg-container .button li object {
      pointer-events: none; }
  .dg-container .button .light {
    transform: scale(1.1); }
    .dg-container .button .light object {
      filter: invert(10%) sepia(98%) saturate(6547%) hue-rotate(355deg) brightness(103%) contrast(81%); }
.dg-container nav {
  display: none; }
  .dg-container nav span:hover {
    opacity: 1; }
  .dg-container nav span.dg-next {
    background-position: top right;
    margin-left: 10px; }

/*end banner strip*/
.room-strip {
  padding-top: 203px; }
  .room-strip .img-room {
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0; }

.smart {
  padding: 237px 15px 137px;
  max-width: 741px;
  margin-left: auto;
  margin-right: auto; }
  .smart #carouselExampleIndicators {
    height: 580px; }
  .smart .carousel-indicators {
    position: relative;
    margin: 40px 0 60px; }
    .smart .carousel-indicators li {
      box-sizing: content-box;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      width: 155px;
      height: 3px;
      margin-right: 10px;
      margin-left: 10px;
      padding: 0 15px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #DEDEDE;
      background-clip: padding-box;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      opacity: .5; }
      .smart .carousel-indicators li:nth-child(1) {
        margin-left: 0; }
      .smart .carousel-indicators li:nth-last-child(1) {
        margin-left: 0; }
    .smart .carousel-indicators .active {
      background-color: #E72327; }

.over {
  overflow: hidden; }

.video-strip .video-wrapper {
  padding: 100px 0 0; }

.app-strip {
  padding: 268px 0 168px;
  position: relative; }
  .app-strip .appFirst, .app-strip .appSecond {
    position: absolute;
    z-index: 9; }
  .app-strip .appFirst {
    top: 125px;
    left: -285px; }
  .app-strip .appSecond {
    bottom: -265px;
    right: -200px; }
  .app-strip .app_descriptions {
    max-width: 741px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto; }

.app_img_box {
  max-width: 741px;
  height: 732px;
  position: relative;
  z-index: 10;
  background-image: url("./images/app/group_20.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: auto;
  margin-left: auto; }
  .app_img_box .router {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .app_img_box .group {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  .app_img_box .router-app:hover {
    transform: scale(1.1); }
  .app_img_box .group-app:hover {
    transform: scale(1.1); }

.products-strip {
  background: #F9F9F9;
  padding: 237px 0 137px; }
  .products-strip object {
    -webkit-filter: invert(10%) sepia(98%) saturate(6547%) hue-rotate(355deg) brightness(103%) contrast(81%);
    filter: invert(10%) sepia(98%) saturate(6547%) hue-rotate(355deg) brightness(103%) contrast(81%);
    margin: 5px 5px 0 0; }
  .products-strip .products_title_box {
    padding-bottom: 187px; }
  .products-strip h3 {
    max-width: 741px;
    margin-left: auto;
    margin-right: auto; }
  .products-strip h4 {
    margin-bottom: 30px; }
  .products-strip .img_products_box {
    max-width: 372px;
    max-height: 372px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: -4px -4px 0px #e72327; }
  .products-strip .img_products_box.even {
    float: right; }

.contact-strip {
  padding: 163px 0 63px; }
  .contact-strip button[type='submit'] {
    border-radius: 0;
    width: 265px;
    height: 56px;
    float: right;
    background-color: #E72327;
    font: 300 16px/19px Lato;
    letter-spacing: 0;
    color: #FFFFFF; }

footer {
  background-color: #E72327; }
  footer .navbar {
    width: 100%; }
  footer .navbar a {
    display: block;
    color: #f2f2f2;
    padding: 10px 8px;
    text-decoration: none;
    text-align: center;
    font: 500 1rem/1.5rem Lato; }
  footer .navbar:nth-child(1) {
    padding: 10px 8px 10px 0px; }
  footer .navbar a:hover {
    color: #f7dbd4;
    transition: all 0.3s ease-in-out; }
  footer .navbar a.active {
    color: #f7dbd4;
    transition: all 0.3s ease-in-out; }

.one_icon {
  height: 52px;
  width: 50px; }

/*# sourceMappingURL=style.css.map */
