/*Global color*/
/*Global class*/
section {
  display: block; }

h1.title {
  font: 300 4rem/4.8rem Lato;
  letter-spacing: 0;
  color: #303030;
  opacity: 1;
  line-height: 1; }
  @media (max-width: 1670.98px) {
    h1.title {
      font: 300 3rem/3.3rem Lato; } }
  @media (max-width: 1098.98px) {
    h1.title {
      font: 300 2.8rem/3rem Lato; } }
  @media (max-width: 767.98px) {
    h1.title {
      font: 300 2.5rem/2.8rem Lato; } }
  @media (max-width: 575.98px) {
    h1.title {
      font: 300 2rem/2.3rem Lato; } }
  @media (max-width: 379.98px) {
    h1.title {
      font: 300 1.8rem/2.3rem Lato; } }

h3.title {
  font: 300 4rem/4.8rem Lato;
  letter-spacing: 0;
  color: #303030;
  opacity: 1;
  line-height: 1; }
  @media (max-width: 1670.98px) {
    h3.title {
      font: 300 3rem/3.3rem Lato; } }
  @media (max-width: 1098.98px) {
    h3.title {
      font: 300 2.8rem/3rem Lato; } }
  @media (max-width: 767.98px) {
    h3.title {
      font: 300 2.5rem/2.8rem Lato; } }
  @media (max-width: 575.98px) {
    h3.title {
      font: 300 2rem/2.3rem Lato;
      text-align: center; } }
  @media (max-width: 379.98px) {
    h3.title {
      font: 300 1.8rem/2.3rem Lato; } }

h4.subTitle, span.subTitle {
  font: 300 3rem/2.4rem Lato;
  letter-spacing: 0;
  color: #303030; }
  @media (max-width: 1670.98px) {
    h4.subTitle, span.subTitle {
      font: 300 2.5rem/1.875rem Lato;
      margin-top: 40px; } }
  @media (max-width: 1098.98px) {
    h4.subTitle, span.subTitle {
      font: 300 2.3rem/1.875rem Lato; } }
  @media (max-width: 991.98px) {
    h4.subTitle, span.subTitle {
      text-align: center; } }
  @media (max-width: 767.98px) {
    h4.subTitle, span.subTitle {
      font: 300 2rem/1.875rem Lato; } }
  @media (max-width: 575.98px) {
    h4.subTitle, span.subTitle {
      font: 300 1.3rem/1.5rem Lato;
      text-align: left; } }

h6.sm_title {
  font: 500 1.25rem/1.5rem Lato;
  letter-spacing: 0;
  color: #3D3C3C; }

p.descriptions {
  font: 300 1.5rem/1.875rem Lato;
  letter-spacing: 0;
  color: #303030; }
  @media (max-width: 991.98px) {
    p.descriptions {
      font: 300 1.2rem/1.5rem Lato; } }
  @media (max-width: 767.98px) {
    p.descriptions {
      font: 300 1.1rem/1.4rem Lato; } }
  @media (max-width: 575.98px) {
    p.descriptions {
      font: 300 1rem/1.3rem Lato; } }
  p.descriptions span {
    font-weight: 700; }

ul.descriptions {
  list-style: none; }
  ul.descriptions li {
    font: 300 1.5rem/1.875rem Lato;
    letter-spacing: 0;
    color: #303030; }
    @media (max-width: 991.98px) {
      ul.descriptions li {
        font: 300 1.2rem/1.5rem Lato; } }
    @media (max-width: 767.98px) {
      ul.descriptions li {
        font: 300 1.1rem/1.4rem Lato; } }
    @media (max-width: 575.98px) {
      ul.descriptions li {
        font: 300 1rem/1.3rem Lato; } }
    ul.descriptions li:before {
      content: "\2022";
      color: red;
      font-weight: 200;
      display: inline-block;
      width: 1em;
      margin-left: -1em; }

p.contact {
  font: 500 1rem/1.5rem Lato;
  letter-spacing: 0;
  color: #303030; }
  @media (max-width: 575.98px) {
    p.contact {
      font: 300 1rem/1.3rem Lato; } }

/*End global class*/
#navigation.fold-active {
  -ms-transform: translateZ(0) translateY(-105px);
  -webkit-transform: translateZ(0) translateY(-105px);
  transform: translateZ(0) translateY(-105px); }

#navigation {
  background-color: rgba(255, 255, 255, 0.99);
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transform: translateZ(0) translateY(0);
  transform: translateZ(0) translateY(0);
  width: 100%;
  top: 0;
  z-index: 199;
  position: fixed;
  left: 0; }
  @media (max-width: 991.98px) {
    #navigation .container {
      padding: 0; } }
  #navigation .lang {
    margin: 0 20px 0 0; }
    @media (max-width: 991.98px) {
      #navigation .lang {
        margin: 0 1px 0 0; } }
    @media (max-width: 576px) {
      #navigation .lang {
        margin: 0 18px 0 0; } }
    #navigation .lang a {
      font: 300 14px/17px Lato;
      text-decoration: none;
      letter-spacing: 0;
      color: #707070; }
  #navigation .logo-wrapper img.small-logo {
    display: none;
    height: 55px; }
  #navigation .logo-wrapper img.big-logo {
    display: inherit;
    height: 55px; }
  @media (max-width: 429.98px) {
    #navigation .logo-wrapper img.small-logo {
      display: inherit; }
    #navigation .logo-wrapper img.big-logo {
      display: none; } }
  #navigation .active {
    color: #E72327; }
  #navigation #navbar-main {
    padding: 0 1rem; }
    @media (min-width: 576px) {
      #navigation #navbar-main {
        padding: 0; } }
    #navigation #navbar-main .navbar-container {
      width: 100%; }
      @media (max-width: 991.98px) {
        #navigation #navbar-main .navbar-container {
          width: auto; } }
      #navigation #navbar-main .navbar-container .navbar-collapse a {
        font: 300 1.125rem/22px Lato;
        text-decoration: none;
        letter-spacing: 0;
        color: #707070; }
      #navigation #navbar-main .navbar-container .navbar-collapse a.btn.btn-dark.text-white {
        margin-left: .5rem;
        border-radius: 20px;
        padding: 10px 20px; }
        @media (max-width: 991.98px) {
          #navigation #navbar-main .navbar-container .navbar-collapse a.btn.btn-dark.text-white {
            margin-left: 0; } }
      #navigation #navbar-main .navbar-container .logo-symbol {
        width: auto;
        max-height: 3.35714rem; }
      #navigation #navbar-main .navbar-container .name-symbol, #navigation #navbar-main .navbar-container .subname-symbol {
        margin-top: 0.92857rem;
        margin-bottom: 0.5rem; }
  #navigation .navbar-toggler {
    padding: 0;
    font-size: 1.25rem;
    line-height: 1;
    background-color: white;
    border: 2px solid #303030;
    border-radius: .25rem; }
  #navigation #nav-icon {
    margin: 0.5em 0.9em;
    width: 25px; }
  #navigation #nav-icon:after,
  #navigation #nav-icon:before,
  #navigation #nav-icon div {
    background-color: #303030;
    content: '';
    display: block;
    height: 3px;
    margin: 9px 0;
    transition: all .2s ease-in-out; }
  #navigation .active:before {
    transform: translateY(12px) rotate(135deg); }
  #navigation .active:after {
    transform: translateY(-12px) rotate(-135deg); }
  #navigation .active div {
    transform: scale(0); }

#main {
  margin-top: 105px;
  /*banner strip*/
  /*end banner strip*/ }
  #main #opis, #main #aplikacja, #main #video, #main #kontakt, #main #produkty {
    margin-top: -100px; }
  #main .banner-strip {
    padding: 130px 10% 160px;
    height: 100%; }
    @media (max-width: 1599.98px) {
      #main .banner-strip {
        padding: 85px 5% 100px; } }
    @media (max-width: 991.98px) {
      #main .banner-strip {
        padding: 70px 15px; } }
    @media (max-width: 767.98px) {
      #main .banner-strip {
        padding: 50px 15px; } }
    @media (max-width: 575.98px) {
      #main .banner-strip {
        padding: 30px 15px; } }
    #main .banner-strip .dg-wrapper {
      margin-left: auto;
      margin-right: auto;
      width: 550px;
      height: 550px;
      position: relative; }
      @media (max-width: 1599.98px) {
        #main .banner-strip .dg-wrapper {
          max-width: 450px;
          max-height: 450px; } }
      @media (max-width: 576.98px) {
        #main .banner-strip .dg-wrapper {
          max-width: 300px;
          max-height: 300px; } }
      @media (max-width: 379.98px) {
        #main .banner-strip .dg-wrapper {
          max-width: 270px;
          max-height: 270px; } }
      #main .banner-strip .dg-wrapper a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0; }
        #main .banner-strip .dg-wrapper a video {
          height: auto !important;
          max-width: 550px;
          max-height: 550px;
          margin-left: auto;
          margin-right: auto;
          display: block; }
          @media (max-width: 1599.98px) {
            #main .banner-strip .dg-wrapper a video {
              max-width: 450px;
              max-height: 450px; } }
          @media (max-width: 576.98px) {
            #main .banner-strip .dg-wrapper a video {
              max-width: 300px;
              max-height: 300px; } }
          @media (max-width: 379.98px) {
            #main .banner-strip .dg-wrapper a video {
              max-width: 270px;
              max-height: 270px; } }
        #main .banner-strip .dg-wrapper a:first-child {
          z-index: 2; }
      #main .banner-strip .dg-wrapper a.dg-transition {
        transition: all 0.5s ease-in-out; }
      #main .banner-strip .dg-wrapper a.dg-transition-fast {
        transition: all 0.2s ease-in-out; }
    #main .banner-strip .dg-container {
      position: relative;
      width: 100%;
      height: 100%; }
      #main .banner-strip .dg-container #lightButton2 {
        bottom: 20px; }
      #main .banner-strip .dg-container .button {
        top: 0;
        position: relative !important;
        margin: 0; }
        @media (max-width: 991.98px) {
          #main .banner-strip .dg-container .button {
            padding: 70px 0; } }
        @media (max-width: 767.98px) {
          #main .banner-strip .dg-container .button {
            padding: 50px 0; } }
        @media (max-width: 575.98px) {
          #main .banner-strip .dg-container .button {
            padding: 5px 0; } }
        @media (max-width: 379.98px) {
          #main .banner-strip .dg-container .button {
            height: 50px; } }
        #main .banner-strip .dg-container .button:nth-child(1) li {
          height: 58px;
          width: 52px; }
          @media (max-width: 575.98px) {
            #main .banner-strip .dg-container .button:nth-child(1) li {
              height: 50px;
              width: 40px; } }
        #main .banner-strip .dg-container .button:nth-child(2) li {
          height: 58px;
          width: 61px; }
          @media (max-width: 575.98px) {
            #main .banner-strip .dg-container .button:nth-child(2) li {
              height: 50px;
              width: 51px; } }
        #main .banner-strip .dg-container .button:nth-child(3) li {
          height: 58px;
          width: 54px; }
          @media (max-width: 575.98px) {
            #main .banner-strip .dg-container .button:nth-child(3) li {
              height: 50px;
              width: 44px; } }
        #main .banner-strip .dg-container .button:nth-child(4) li {
          height: 58px;
          width: 70px; }
          @media (max-width: 575.98px) {
            #main .banner-strip .dg-container .button:nth-child(4) li {
              height: 50px;
              width: 60px; } }
        #main .banner-strip .dg-container .button:nth-child(5) li {
          height: 42px;
          width: 68px; }
          @media (max-width: 575.98px) {
            #main .banner-strip .dg-container .button:nth-child(5) li {
              height: 50px;
              width: 58px; } }
        #main .banner-strip .dg-container .button li {
          cursor: pointer;
          display: inline-block;
          margin-right: 15px;
          width: 50px;
          height: 50px;
          text-indent: 0;
          opacity: 1 !important; }
          @media (max-width: 991.98px) {
            #main .banner-strip .dg-container .button li {
              transform: scale(0.9);
              margin-right: 10px; } }
          @media (max-width: 767.98px) {
            #main .banner-strip .dg-container .button li {
              transform: scale(0.8);
              margin-right: 5px; } }
          @media (max-width: 575.98px) {
            #main .banner-strip .dg-container .button li {
              transform: scale(0.7); } }
          @media (max-width: 379.98px) {
            #main .banner-strip .dg-container .button li {
              transform: scale(0.6); } }
      #main .banner-strip .dg-container .light {
        transform: scale(1.1); }
        #main .banner-strip .dg-container .light svg path, #main .banner-strip .dg-container .light svg line.a, #main .banner-strip .dg-container .light svg line.b {
          stroke-dasharray: 500;
          stroke-dashoffset: 1000;
          animation-name: icon-animation;
          animation-duration: 4s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite; }
@keyframes icon-animation {
  0% {
    stroke-dashoffset: 1000;
    opacity: 1; }
  50% {
    stroke-dashoffset: 500;
    opacity: 0.9; }
  100% {
    stroke: #e72327;
    stroke-dashoffset: 0;
    opacity: 1; } }
  #main .room-strip .row {
    position: relative;
    z-index: 10; }
    #main .room-strip .row .hand_box {
      display: none;
      width: 95px;
      height: 59px;
      position: absolute;
      z-index: 15;
      top: 92%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 991.98px) {
        #main .room-strip .row .hand_box {
          display: inherit; } }
      #main .room-strip .row .hand_box img {
        position: absolute;
        top: 5px;
        left: 0;
        -moz-animation: hand .8s;
        -o-animation: hand 3s;
        -webkit-animation: hand 3s;
        animation: hand 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; }
@keyframes hand {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    left: -10px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  50% {
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    left: 10px;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }
    #main .room-strip .row .img-room {
      width: 100%;
      height: auto;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0; }
      #main .room-strip .row .img-room img {
        width: 100%;
        height: auto; }
        @media (max-width: 991.98px) {
          #main .room-strip .row .img-room img {
            width: 1388px;
            height: 666px; } }
  #main .smart {
    padding: 237px 15px 137px;
    max-width: 741px;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 991.98px) {
      #main .smart {
        padding: 180px 50px 80px; } }
    @media (max-width: 767.98px) {
      #main .smart {
        padding: 180px 30px 80px; } }
    @media (max-width: 575.98px) {
      #main .smart {
        padding: 180px 18px 80px; } }
    #main .smart #carouselExampleIndicators {
      height: 500px; }
      @media (max-width: 991.98px) {
        #main .smart #carouselExampleIndicators {
          height: 400px; } }
      @media (max-width: 575.98px) {
        #main .smart #carouselExampleIndicators {
          height: 320px; } }
      @media (max-width: 475.98px) {
        #main .smart #carouselExampleIndicators {
          height: 380px; } }
      @media (max-width: 395.98px) {
        #main .smart #carouselExampleIndicators {
          height: 430px; } }
      @media (max-width: 349.98px) {
        #main .smart #carouselExampleIndicators {
          height: 520px; } }
      #main .smart #carouselExampleIndicators h4 {
        height: 77px; }
        @media (max-width: 575.98px) {
          #main .smart #carouselExampleIndicators h4 {
            height: 60px; } }
        @media (max-width: 575.98px) {
          #main .smart #carouselExampleIndicators h4 object {
            max-height: 40px; } }
    #main .smart .carousel-indicators {
      position: relative;
      margin: 40px 0 60px; }
      @media (max-width: 767.98px) {
        #main .smart .carousel-indicators {
          margin: 40px 0 40px; } }
      @media (max-width: 575.98px) {
        #main .smart .carousel-indicators {
          margin: 15px 0 15px; } }
      #main .smart .carousel-indicators li {
        box-sizing: content-box;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 155px;
        height: 3px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 0 15px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #DEDEDE;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5; }
        #main .smart .carousel-indicators li:nth-child(1) {
          margin-left: 0; }
        #main .smart .carousel-indicators li:nth-last-child(1) {
          margin-right: 0; }
      #main .smart .carousel-indicators .active {
        background-color: #E72327; }
  #main .over {
    overflow: hidden; }
  #main .video-strip .video-wrapper {
    padding: 100px 0 0; }
  #main .app-strip {
    padding: 268px 0 168px;
    position: relative; }
    @media (max-width: 991.98px) {
      #main .app-strip {
        padding: 180px 15px 138px; } }
    #main .app-strip .appImgFirst, #main .app-strip .appImgSecond {
      width: 800px;
      position: absolute;
      z-index: 9;
      transition: width 3ms linear; }
      @media (max-width: 1680px) {
        #main .app-strip .appImgFirst, #main .app-strip .appImgSecond {
          width: 700px; } }
      @media (max-width: 1540px) {
        #main .app-strip .appImgFirst, #main .app-strip .appImgSecond {
          width: 590px; } }
      @media (max-width: 1350px) {
        #main .app-strip .appImgFirst, #main .app-strip .appImgSecond {
          width: 490px; } }
      @media (max-width: 1198.99px) {
        #main .app-strip .appImgFirst, #main .app-strip .appImgSecond {
          display: none; } }
    #main .app-strip .appImgFirst {
      top: 800px;
      left: -70%; }
      @media (max-width: 1680px) {
        #main .app-strip .appImgFirst {
          top: 700px; } }
      @media (max-width: 1540px) {
        #main .app-strip .appImgFirst {
          top: 590px; } }
      @media (max-width: 1350px) {
        #main .app-strip .appImgFirst {
          top: 490px; } }
    #main .app-strip .appImgSecond {
      bottom: 800px;
      right: -70%; }
      @media (max-width: 1680px) {
        #main .app-strip .appImgSecond {
          bottom: 700px; } }
      @media (max-width: 1540px) {
        #main .app-strip .appImgSecond {
          bottom: 590px; } }
      @media (max-width: 1350px) {
        #main .app-strip .appImgSecond {
          bottom: 490px; } }
    #main .app-strip .appFirst, #main .app-strip .appSecond {
      -moz-transition: left ease-out 1.5s, top ease-out 1.5s;
      -o-transition: left ease-out 1.5s, top ease-out 1.5s;
      -webkit-transition: left ease-out 1.5s, top ease-out 1.5s;
      transition: left ease-out 1.5s, top ease-out 1.5s; }
    #main .app-strip .appSecond {
      -moz-transition: right ease-out 1.5s, bottom ease-out 1.5s;
      -o-transition: right ease-out 1.5s, bottom ease-out 1.5s;
      -webkit-transition: right ease-out 1.5s, bottom ease-out 1.5s;
      transition: right ease-out 1.5s, bottom ease-out 1.5s; }
    #main .app-strip .appFirst {
      top: 125px;
      left: -19%; }
    #main .app-strip .appSecond {
      bottom: -165px;
      right: -14%; }
      @media (max-width: 1680px) {
        #main .app-strip .appSecond {
          bottom: -125px; } }
      @media (max-width: 1540px) {
        #main .app-strip .appSecond {
          bottom: -95px; } }
      @media (max-width: 1350px) {
        #main .app-strip .appSecond {
          bottom: -65px; } }
    #main .app-strip .app_telephones {
      display: none;
      position: relative;
      height: 530px;
      margin-bottom: 65px; }
      @media (max-width: 1199.98px) {
        #main .app-strip .app_telephones {
          display: inherit; } }
      @media (max-width: 991.98px) {
        #main .app-strip .app_telephones {
          height: 515px; } }
      @media (max-width: 767.98px) {
        #main .app-strip .app_telephones {
          height: 400px; } }
      #main .app-strip .app_telephones .sm_appImgFirst, #main .app-strip .app_telephones .sm_appImgSecond {
        height: 550px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); }
        @media (max-width: 991.98px) {
          #main .app-strip .app_telephones .sm_appImgFirst, #main .app-strip .app_telephones .sm_appImgSecond {
            height: 450px; } }
        @media (max-width: 767.98px) {
          #main .app-strip .app_telephones .sm_appImgFirst, #main .app-strip .app_telephones .sm_appImgSecond {
            height: 338px; } }
      #main .app-strip .app_telephones .sm_appImgFirst {
        z-index: 99;
        left: 39%;
        top: 52%; }
        @media (max-width: 991.98px) {
          #main .app-strip .app_telephones .sm_appImgFirst {
            left: 41%; } }
        @media (max-width: 767.98px) {
          #main .app-strip .app_telephones .sm_appImgFirst {
            left: calc(50% - 50px); } }
      #main .app-strip .app_telephones .sm_appImgSecond {
        z-index: 98;
        left: 61%;
        top: 48%; }
        @media (max-width: 991.98px) {
          #main .app-strip .app_telephones .sm_appImgSecond {
            left: 59%; } }
        @media (max-width: 767.98px) {
          #main .app-strip .app_telephones .sm_appImgSecond {
            left: calc(50% + 50px); } }
    #main .app-strip .app_descriptions {
      max-width: 741px;
      padding: 0 15px;
      margin-right: auto;
      margin-left: auto; }
  #main .app_img_box {
    max-width: 741px;
    height: 732px;
    position: relative;
    z-index: 10;
    background-image: url("./images/app/group_20.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: auto;
    margin-left: auto; }
    @media (max-width: 1199.98px) {
      #main .app_img_box {
        max-width: 600px;
        height: 500px; } }
    @media (max-width: 767.98px) {
      #main .app_img_box {
        height: 500px;
        padding-top: 20px;
        padding-bottom: 0; } }
    @media (max-width: 575.98px) {
      #main .app_img_box {
        height: 450px; } }
    @media (max-width: 399.98px) {
      #main .app_img_box {
        height: 300px; } }
    #main .app_img_box .router {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    #main .app_img_box .group {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 1199.98px) {
        #main .app_img_box .group {
          top: 65%;
          width: 180px;
          height: auto; } }
      @media (max-width: 767.98px) {
        #main .app_img_box .group {
          top: 65%; } }
      @media (max-width: 575.98px) {
        #main .app_img_box .group {
          top: 65%;
          width: 140px;
          height: auto; } }
      @media (max-width: 399.98px) {
        #main .app_img_box .group {
          top: 70%;
          width: 100px; } }
    #main .app_img_box .router-app:hover {
      transform: scale(1.1); }
    #main .app_img_box .group-app:hover {
      transform: scale(1.1); }
  #main .products-strip {
    background: #F9F9F9;
    padding: 237px 0 137px; }
    @media (max-width: 991.98px) {
      #main .products-strip {
        padding: 80px 15px 70px; } }
    #main .products-strip svg .a, #main .products-strip svg .b {
      stroke: #e72327; }
    #main .products-strip .products_title_box {
      padding-bottom: 187px; }
      @media (max-width: 991.98px) {
        #main .products-strip .products_title_box {
          padding-bottom: 90px; } }
    #main .products-strip h3 {
      max-width: 741px;
      margin-left: auto;
      margin-right: auto; }
    #main .products-strip h4 {
      margin-bottom: 30px; }
    #main .products-strip .img_products_box {
      max-width: 372px;
      max-height: 372px;
      width: 100%;
      height: auto;
      border-radius: 50%;
      box-shadow: -4px -4px 0px #e72327;
      margin-left: auto;
      margin-right: auto; }
      @media (max-width: 991.98px) {
        #main .products-strip .img_products_box {
          max-width: 300px;
          max-height: 300px; } }
  #main .contact-strip {
    padding: 163px 15px 63px; }
    #main .contact-strip button[type='submit'] {
      border-radius: 0;
      width: 265px;
      height: 56px;
      float: right;
      background-color: #E72327;
      font: 300 16px/19px Lato;
      letter-spacing: 0;
      color: #FFFFFF; }
      @media (max-width: 379.98px) {
        #main .contact-strip button[type='submit'] {
          width: 235px;
          height: 46px; } }

footer {
  background-color: #E72327; }
  footer .navbar {
    width: 100%; }
    footer .navbar a {
      display: block;
      color: #f2f2f2;
      padding: 10px 8px;
      text-decoration: none;
      text-align: center;
      font: 500 1rem/1.5rem Lato; }
      footer .navbar a:hover {
        color: #f7dbd4;
        transition: all 0.3s ease-in-out; }
      footer .navbar a .active {
        color: #f7dbd4;
        transition: all 0.3s ease-in-out; }
    footer .navbar:nth-child(1) {
      padding: 10px 8px 10px 0px; }

/*# sourceMappingURL=style.css.map */
