/*Global color*/
$global-red: #E72327;
$global-text-gray: #303030;
$global-background: #F9F9F9;

/*Global class*/
section {
  display: block;
}

h1.title {
  font: 300 4rem/4.8rem Lato;
  letter-spacing: 0;
  color: #303030;
  opacity: 1;
  line-height: 1;
  @media (max-width: 1670.98px) {
    font: 300 3rem/3.3rem Lato;
  }
  @media(max-width: 1098.98px) {
    font: 300 2.8rem/3rem Lato;
  }
  @media (max-width: 767.98px) {
    font: 300 2.5rem/2.8rem Lato;
  }
  @media (max-width: 575.98px) {
    font: 300 2rem/2.3rem Lato;
  }
  @media (max-width: 379.98px) {
    font: 300 1.8rem/2.3rem Lato;
  }
}

h3.title {
  font: 300 4rem/4.8rem Lato;
  letter-spacing: 0;
  color: #303030;
  opacity: 1;
  line-height: 1;
  @media (max-width: 1670.98px) {
    font: 300 3rem/3.3rem Lato;
  }
  @media(max-width: 1098.98px) {
    font: 300 2.8rem/3rem Lato;
  }
  @media (max-width: 767.98px) {
    font: 300 2.5rem/2.8rem Lato;
  }
  @media (max-width: 575.98px) {
    font: 300 2rem/2.3rem Lato;
    text-align: center;
  }
  @media (max-width: 379.98px) {
    font: 300 1.8rem/2.3rem Lato;
  }
}

h4.subTitle, span.subTitle {
  font: 300 3rem/2.4rem Lato;
  letter-spacing: 0;
  color: $global-text-gray;
  @media (max-width: 1670.98px) {
    font: 300 2.5rem/1.875rem Lato;
    //text-align: center;
    margin-top: 40px;
  }
  @media(max-width: 1098.98px) {
    font: 300 2.3rem/1.875rem Lato;
  }
  @media (max-width: 991.98px) {
    text-align: center;
  }
  @media (max-width: 767.98px) {
    font: 300 2rem/1.875remLato;
  }
  @media (max-width: 575.98px) {
    font: 300 1.3rem/1.3rem Lato;
  }
}

h6.sm_title {
  font: 500 1.25rem/1.5rem Lato;
  letter-spacing: 0;
  color: #3D3C3C;
}

p.descriptions {
  font: 300 1.5rem/1.875rem Lato;
  letter-spacing: 0;
  color: $global-text-gray;
  @media (max-width: 991.98px) {
    font: 300 1.2rem/1.5rem Lato;
  }
  @media (max-width: 767.98px) {
    font: 300 1.1rem/1.4rem Lato;
  }
  @media (max-width: 575.98px) {
    font: 300 1rem/1.3rem Lato;
  }
  span{
    font-weight: 700;
  }
}
ul.descriptions{
  list-style: none;
  li{
    font: 300 1.5rem/1.875rem Lato;
    letter-spacing: 0;
    color: $global-text-gray;
    @media (max-width: 991.98px) {
      font: 300 1.2rem/1.5rem Lato;
    }
    @media (max-width: 767.98px) {
      font: 300 1.1rem/1.4rem Lato;
    }
    @media (max-width: 575.98px) {
      font: 300 1rem/1.3rem Lato;
    }
    &:before {
      content: "\2022";
      color: red;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

p.contact {
  font: 500 1rem/1.5rem Lato;
  letter-spacing: 0;
  color: $global-text-gray;
  @media (max-width: 575.98px) {
    font: 300 1rem/1.3rem Lato;
  }
}

/*End global class*/


#navigation.fold-active {
  -ms-transform: translateZ(0) translateY(-105px);
  -webkit-transform: translateZ(0) translateY(-105px);
  transform: translateZ(0) translateY(-105px);
}

#navigation {
  background-color: rgba(255, 255, 255, 0.99);
  transition: -webkit-transform 500ms ease-in-out;
  //transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out,
  -webkit-transform 500ms ease-in-out;
  -webkit-transform: translateZ(0) translateY(0);
  transform: translateZ(0) translateY(0);
  width: 100%;
  top: 0;
  z-index: 199;
  position: fixed;
  left: 0;
  @media(max-width: 991.98px) {
    .container {
      padding: 0;
    }
  }

  .lang {
    margin: 0 20px 0 0;
    @media(max-width: 991.98px) {
      margin: 0 1px 0 0;
    }
    @media(max-width: 576px) {
      margin: 0 18px 0 0;
    }

    a {
      font: 300 14px/17px Lato;
      text-decoration: none;
      letter-spacing: 0;
      color: #707070
    }
  }

  .logo-wrapper {
    img.small-logo {
      display: none;
      height: 55px;
    }

    img.big-logo {
      display: inherit;
      height: 55px;
    }

    @media(max-width: 429.98px) {
      img.small-logo {
        display: inherit;
      }

      img.big-logo {
        display: none;
      }
    }
  }

  .active {
    color: $global-red;
  }

  #navbar-main {
    padding: 0 1rem;
    @media(min-width: 576px) {
      padding: 0;
    }

    .navbar-container {
      width: 100%;
      @media(max-width: 991.98px) {
        width: auto;
      }

      .navbar-collapse {
        a {
          font: 300 1.125rem/22px Lato;
          text-decoration: none;
          letter-spacing: 0;
          color: #707070
        }

        a.btn.btn-dark.text-white {
          margin-left: .5rem;
          border-radius: 20px;
          padding: 10px 20px;
          @media(max-width: 991.98px) {
            margin-left: 0;
          }
        }
      }

      .logo-symbol {
        width: auto;
        max-height: 3.35714rem;
      }

      .name-symbol, .subname-symbol {
        margin-top: 0.92857rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  .navbar-toggler {
    padding: 0;
    font-size: 1.25rem;
    line-height: 1;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid $global-text-gray;
    border-radius: .25rem;
  }

  #nav-icon {
    margin: 0.5em 0.9em;
    width: 25px;
  }

  #nav-icon:after,
  #nav-icon:before,
  #nav-icon div {
    background-color: $global-text-gray;

    content: '';
    display: block;
    height: 3px;
    margin: 9px 0;
    transition: all .2s ease-in-out;
  }

  .active:before {
    transform: translateY(12px) rotate(135deg);
  }

  .active:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .active div {
    transform: scale(0);
  }
}


#main {
  margin-top: 105px;

  #opis, #aplikacja, #video, #kontakt, #produkty {
    margin-top: -100px;
  }

  /*banner strip*/
  .banner-strip {
    padding: 130px 10% 160px;
    height: 100%;
    @media (max-width: 1599.98px) {
      padding: 85px 5% 100px;
    }
    @media (max-width: 991.98px) {
      padding: 70px 15px;
    }
    @media (max-width: 767.98px) {
      padding: 50px 15px;
    }
    @media (max-width: 575.98px) {
      padding: 30px 15px;
    }

    .dg-wrapper {
      margin-left: auto;
      margin-right: auto;
      width: 550px;
      height: 550px;
      position: relative;
      @media (max-width: 1599.98px) {
        max-width: 450px;
        max-height: 450px;
      }
      @media (max-width: 576.98px) {
        max-width: 300px;
        max-height: 300px;
      }
      @media (max-width: 379.98px) {
        max-width: 270px;
        max-height: 270px;
      }

      a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;

        video {
          height: auto !important;
          max-width: 550px;
          max-height: 550px;
          margin-left: auto;
          margin-right: auto;
          display: block;
          @media (max-width: 1599.98px) {
            max-width: 450px;
            max-height: 450px;
          }
          @media (max-width: 576.98px) {
            max-width: 300px;
            max-height: 300px;
          }
          @media (max-width: 379.98px) {
            max-width: 270px;
            max-height: 270px;
          }
        }

        &:first-child {
          z-index: 2;
        }
      }

      a.dg-transition {
        transition: all 0.5s ease-in-out;
      }

      a.dg-transition-fast {
        transition: all 0.2s ease-in-out;
      }
    }

    .dg-container {
      position: relative;
      width: 100%;
      height: 100%;

      #lightButton2 {
        bottom: 20px;
      }

      .button {
        top: 0;
        position: relative !important;
        margin: 0;
        @media (max-width: 991.98px) {
          padding: 70px 0;
        }
        @media (max-width: 767.98px) {
          padding: 50px 0;
        }
        @media (max-width: 575.98px) {
          padding: 5px 0;
        }
        @media (max-width: 379.98px) {
          height: 50px;
        }
        &:nth-child(1) li{
          height: 58px;
          width: 52px;
          @media (max-width: 575.98px) {
            height: 50px;
            width: 40px;
          }
          @media (max-width: 379.98px) {

          }
        }

        &:nth-child(2) li{
          height: 58px;
          width: 61px;
          @media (max-width: 575.98px) {
            height: 50px;
            width: 51px;
          }
          @media (max-width: 379.98px) {

          }
        }

        &:nth-child(3) li{
          height: 58px;
          width: 54px;
          @media (max-width: 575.98px) {
            height: 50px;
            width: 44px;
          }
          @media (max-width: 379.98px) {

          }
        }

        &:nth-child(4) li{
          height: 58px;
          width: 70px;
          @media (max-width: 575.98px) {
            height: 50px;
            width: 60px;
          }
          @media (max-width: 379.98px) {

          }
        }

        &:nth-child(5) li{
          height: 42px;
          width: 68px;
          @media (max-width: 575.98px) {
            height: 50px;
            width: 58px;
          }
          @media (max-width: 379.98px) {

          }
        }
        li {
          cursor: pointer;
          display: inline-block;
          margin-right: 15px;
          width: 50px;
          height: 50px;
          text-indent: 0;
          opacity: 1 !important;
          @media (max-width: 991.98px) {
            transform: scale(.9);
            margin-right: 10px;
          }
          @media (max-width: 767.98px) {
            transform: scale(.8);
            margin-right: 5px;
          }
          @media (max-width: 575.98px) {
            transform: scale(.7);
          }
          @media (max-width: 379.98px) {
            transform: scale(.6);
          }
        }
      }

      .light {
        transform: scale(1.1);

        svg path, svg line.a, svg line.b {
          stroke-dasharray: 500;
          stroke-dashoffset: 1000;
          animation-name: icon-animation;
          animation-duration: 4s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite;
        }

        @keyframes icon-animation {
          0% {
            stroke-dashoffset: 1000;
            opacity: 1;
          }
          50% {
            stroke-dashoffset: 500;
            opacity: 0.9;
          }
          100% {
            stroke: #e72327;
            stroke-dashoffset: 0;
            opacity: 1;
          }
        }
      }
    }
  }
  /*end banner strip*/

  .room-strip {
    .row {
      position: relative;
      z-index: 10;

      .hand_box {
        display: none;
        width: 95px;
        height: 59px;
        position: absolute;
        z-index: 15;
        top: 92%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        @media(max-width: 991.98px) {
          display: inherit;
        }

        img {
          position: absolute;
          top: 5px;
          left: 0;
          -moz-animation: hand .8s;
          -o-animation: hand 3s;
          -webkit-animation: hand 3s;
          animation: hand 3s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }

      @keyframes hand {
        0% {
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        25% {
          left: -10px;
          -webkit-transform: rotate(-5deg);
          -moz-transform: rotate(-5deg);
          -ms-transform: rotate(-5deg);
          -o-transform: rotate(-5deg);
          transform: rotate(-5deg);

        }
        50% {
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        75% {
          left: 10px;
          -webkit-transform: rotate(5deg);
          -moz-transform: rotate(5deg);
          -ms-transform: rotate(5deg);
          -o-transform: rotate(5deg);
          transform: rotate(5deg);
        }
        100% {
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }

      .img-room {
        width: 100%;
        height: auto;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0;

        img {
          width: 100%;
          height: auto;
          @media(max-width: 991.98px) {
            width: 1388px;
            height: 666px;
          }
        }
      }
    }
  }


  .smart {
    padding: 237px 15px 137px;
    max-width: 741px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 991.98px) {
      padding: 180px 50px 80px;
    }
    @media (max-width: 767.98px) {
      padding: 180px 30px 80px;
    }
    @media (max-width: 575.98px) {
      padding: 180px 18px 80px;
    }

    #carouselExampleIndicators {
      height: 580px;
      @media (max-width: 575.98px) {
        height: 590px;
      }

      h4 {
        height: 77px;
        @media (max-width: 575.98px) {
          height: 60px;
        }

        object {
          @media (max-width: 575.98px) {
            max-height: 40px;
          }
        }
      }
    }

    .carousel-indicators {
      position: relative;
      margin: 40px 0 60px;
      @media (max-width: 767.98px) {
        margin: 40px 0 40px;
      }
      @media (max-width: 575.98px) {
        margin: 15px 0 15px;
      }
      //@media (max-width: 379.98px) {
      //  height: 50px;
      //}

      li {
        box-sizing: content-box;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 155px;
        height: 3px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 0 15px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #DEDEDE;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;

        &:nth-child(1) {
          margin-left: 0;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }

      .active {
        background-color: $global-red;
      }
    }
  }

  .over {
    overflow: hidden;
  }

  .video-strip {
    .video-wrapper {
      padding: 100px 0 0;
    }
  }

  .app-strip {
    padding: 268px 0 168px;
    position: relative;
    @media (max-width: 991.98px) {
      padding: 180px 15px 138px;
    }

    .appImgFirst, .appImgSecond {
      width: 800px;
      position: absolute;
      z-index: 9;
      transition: width 3ms linear;
      @media(max-width: 1680px) {
        width: 700px;
      }
      @media(max-width: 1540px) {
        width: 590px;
      }
      @media(max-width: 1350px) {
        width: 490px;
      }
      @media(max-width: 1198.99px) {
        display: none;
      }
    }

    .appImgFirst {
      top: 800px;
      left: -70%;
      @media(max-width: 1680px) {
        top: 700px;
      }
      @media(max-width: 1540px) {
        top: 590px;
      }
      @media(max-width: 1350px) {
        top: 490px;
      }
    }


    .appImgSecond {
      bottom: 800px;
      right: -70%;
      @media(max-width: 1680px) {
        bottom: 700px;
      }
      @media(max-width: 1540px) {
        bottom: 590px;
      }
      @media(max-width: 1350px) {
        bottom: 490px;
      }
    }


    .appFirst, .appSecond {
      -moz-transition: left ease-out 1.5s, top ease-out 1.5s;
      -o-transition: left ease-out 1.5s, top ease-out 1.5s;
      -webkit-transition: left ease-out 1.5s, top ease-out 1.5s;
      transition: left ease-out 1.5s, top ease-out 1.5s;
    }

    .appSecond {
      -moz-transition: right ease-out 1.5s, bottom ease-out 1.5s;
      -o-transition: right ease-out 1.5s, bottom ease-out 1.5s;
      -webkit-transition: right ease-out 1.5s, bottom ease-out 1.5s;
      transition: right ease-out 1.5s, bottom ease-out 1.5s;
    }

    .appFirst {
      top: 125px;
      left: -19%;
    }

    .appSecond {
      bottom: -165px;
      right: -14%;
      @media(max-width: 1680px) {
        bottom: -125px;
      }
      @media(max-width: 1540px) {
        bottom: -95px;
      }
      @media(max-width: 1350px) {
        bottom: -65px;
      }
    }

    .app_telephones {
      display: none;
      position: relative;
      height: 530px;
      margin-bottom: 65px;
      @media(max-width: 1199.98px) {
        display: inherit;
      }
      @media(max-width: 991.98px) {
        height: 515px;
      }
      @media(max-width: 767.98px) {
        height: 400px;
      }

      .sm_appImgFirst, .sm_appImgSecond {
        height: 550px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        @media(max-width: 991.98px) {
          height: 450px;
        }
        @media(max-width: 767.98px) {
          height: 338px;
        }
      }

      .sm_appImgFirst {
        z-index: 99;
        left: 39%;
        top: 52%;
        @media(max-width: 991.98px) {
          left: 41%;
        }
        @media(max-width: 767.98px) {
          left: calc(50% - 50px);
        }
      }

      .sm_appImgSecond {
        z-index: 98;
        left: 61%;
        top: 48%;
        @media(max-width: 991.98px) {
          left: 59%;
        }
        @media(max-width: 767.98px) {
          left: calc(50% + 50px);
        }
      }
    }

    .app_descriptions {
      max-width: 741px;
      padding: 0 15px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .app_img_box {
    max-width: 741px;
    height: 732px;
    position: relative;
    z-index: 10;
    background-image: url("./images/app/group_20.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 1199.98px) {
      max-width: 600px;
      height: 500px;
    }
    @media (max-width: 767.98px) {
      height: 500px;
      padding-top: 20px;
      padding-bottom: 0;
    }
    @media (max-width: 575.98px) {
      height: 450px;
    }
    @media (max-width: 399.98px) {
      height: 300px;
    }

    .router {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .group {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      @media (max-width: 1199.98px) {
        top: 65%;
        width: 180px;
        height: auto;
      }
      @media (max-width: 767.98px) {
        top: 65%;
      }
      @media (max-width: 575.98px) {
        top: 65%;
        width: 140px;
        height: auto;
      }
      @media (max-width: 399.98px) {
        top: 70%;
        width: 100px;
      }
    }

    .router-app {
      &:hover {
        transform: scale(1.1);
      }
    }

    .group-app {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .products-strip {
    background: $global-background;
    padding: 237px 0 137px;
    @media (max-width: 991.98px) {
      padding: 80px 15px 70px;
    }

    svg .a, svg .b {
      stroke: #e72327;
    }

    .products_title_box {
      padding-bottom: 187px;
      @media (max-width: 991.98px) {
        padding-bottom: 90px;
      }
    }

    h3 {
      max-width: 741px;
      margin-left: auto;
      margin-right: auto;
    }

    h4 {
      margin-bottom: 30px;
    }

    .img_products_box {
      max-width: 372px;
      max-height: 372px;
      width: 100%;
      height: auto;
      border-radius: 50%;
      box-shadow: -4px -4px 0px #e72327;
      margin-left: auto;

      margin-right: auto;
      @media(max-width: 991.98px) {
        max-width: 300px;
        max-height: 300px;
      }
    }
  }

  .contact-strip {
    padding: 163px 15px 63px;

    button[type='submit'] {
      border-radius: 0;
      width: 265px;
      height: 56px;
      float: right;
      background-color: $global-red;
      font: 300 16px/19px Lato;
      letter-spacing: 0;
      color: #FFFFFF;
      @media (max-width: 379.98px) {
        width: 235px;
        height: 46px;
      }
    }
  }
}


footer {
  background-color: $global-red;

  .navbar {
    width: 100%;

    a {
      display: block;
      color: #f2f2f2;
      padding: 10px 8px;
      text-decoration: none;
      text-align: center;
      font: 500 1rem/1.5rem Lato;

      &:hover {
        color: rgb(247, 219, 212);
        transition: all 0.3s ease-in-out;
      }

      .active {
        color: rgb(247, 219, 212);
        transition: all 0.3s ease-in-out;
      }
    }

    &:nth-child(1) {
      padding: 10px 8px 10px 0px;
    }
  }
}

//.one_icon {
//  height: 52px;
//  width: 50px;
//}






